<form class="layui-form model-form" action="">
	<input name="id" id="id" type="hidden" value="{$info.id|default=0}">
	<div class="layui-form-item">
		<label class="layui-form-label">广告封面：</label>
<!--		{upload:image name="cover|封面|90x90|建议上传尺寸450x450" value="isset($info['cover_url']) ? $info['cover_url'] : ''"}-->
<!--		upload 开始 -->
		<style type="text/css">.layui-upload-drag { position: relative; padding: 10px; border: 1px dashed #e2e2e2; background-color: #fff; text-align: center; cursor: pointer; color: #999; }</style>
		<div class="layui-input-block">
			<div class="layui-upload-drag">
				<a href="{$info.cover_url|default=''}" target="black">
					<img id="cover_show_id" src="{$info.cover_url|default=''}" alt="上传封面" title="上传封面" width="90" height="90"></a>
				<input type="hidden" id="cover" name="cover" value="$info.cover_url|default=''"></div>
			<div style="margin-top:10px;">
				<button type="button" class="layui-btn" id="btnUploadImg_cover">
					<i class="layui-icon"></i>上传封面</button>
				<input class="layui-upload-file" type="file" accept="image/*" name="file"></div>
			<div class="layui-form-mid layui-word-aux">建议尺寸：建议上传尺寸450x450</div></div>
		<script type="text/javascript">
			layui.use(['upload', 'croppers'], function() {
				//声明变量
				var layer = layui.layer,
						upload = layui.upload,
						croppers = layui.croppers,
						$ = layui.$;

				if ("2" == 1) {

					//图片裁剪组件
					croppers.render({
						elem: '#btnUploadImg_cover',
						name: "cover",
						saveW: 300 //保存宽度
						,
						saveH: 300,
						mark: 1 / 1 //选取比例
						,
						area: ['750px', '500px'] //弹窗宽度
						,
						url: "/upload/uploadImage",
						done: function(url) {
							//上传完毕回调
							$('#cover').val(url);
							$('#cover_show_id').attr('src', url);
						}
					});

				} else {

					/**
					 * 普通图片上传
					 */
					var uploadInst = upload.render({
						elem: '#btnUploadImg_cover',
						url: "/upload/uploadImage",
						accept: 'images',
						acceptMime: 'image/*',
						exts: "jpg|png|gif|bmp|jpeg",
						field: 'file' //文件域字段名
						,
						size: 10240 //最大允许上传的文件大小
						,
						before: function(obj) {
							//预读本地文件
						},
						done: function(res) {
							//上传完毕回调
							if (!res.success) {
								layer.msg(res.msg, {
									icon: 5
								});
								return false;
							}

							//上传成功
							$('#cover_show_id').attr('src', res.data);
							$('#cover').val(res.data);
						},
						error: function() {
							//请求异常回调
							return layer.msg('数据请求异常');
						}
					});
				}
			});
		</script>
		<!--		upload 结束 -->
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">广告位：</label>
			<div class="layui-input-inline">
<!--				{common:select param="sort_id|1|广告位|name|id" data="$sortList" value="isset($info['sort_id']) ? $info['sort_id'] : 0"}-->
				<!--		common 开始 -->
				<select name="sort_id" id="sort_id" lay-verify="required" lay-search="" lay-filter="sort_id">
					<option value="">【请选择广告位】</option>
					{foreach $sortList as $key=>$vo}
					{if isset($info.sort_id) && $info.sort_id == $vo.id}
					<option value="{$vo.id}" selected>{$vo.name}</option>
					{else /}
					<option value="{$vo.id}">{$vo.name}</option>
					{/if}
					{/foreach}
				</select>
				<!--		common 结束 -->
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">URL地址：</label>
			<div class="layui-input-inline">
				<input name="url" id="url" value="{$info.url|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入地址链接" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">广告标题：</label>
			<div class="layui-input-inline">
				<input name="title" id="title" value="{$info.title|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入广告标题" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">广告类型：</label>
			<div class="layui-input-inline">
<!--				{common:select param="type|1|广告位|name|id" data="$typeList" value="isset($info['type']) ? $info['type'] : 0"}-->
<!--				common 开始 -->
				<select name="type" id="type" lay-verify="required" lay-search="" lay-filter="type">
					<option value="">【请选择广告位】</option>
					{foreach $typeList as $key=>$vo}
					{if isset($info.type) && $info.type == $key}
					<option value="{$key}" selected>{$vo}</option>
					{else /}
					<option value="{$key}">{$vo}</option>
					{/if}
					{/foreach}
				</select>
<!--				common 结束 -->
			</div>
		</div>
	</div>
	<div class="layui-form-item layui-form-text" style="width:625px;">
<!--		TODO 文本编辑器需要优化 -->
		<label class="layui-form-label">广告描述：</label>
		<div class="layui-input-block">
			<textarea name="description" id="description" placeholder="请输入广告位描述" class="layui-textarea">{$info.description|default=''}</textarea>
		</div>
	</div>
	<div class="layui-form-item" style="width:1000px;">
		<label class="layui-form-label">广告内容：</label>
		<div class="layui-input-block">
			<textarea name="content" id="content" lay-verify="required" class="layui-textarea">{$info.content|default=''}</textarea>
<!--			{editor:kindeditor name="content" type="default" width="100%" height="350"}-->
<!--			editor 开始 -->
			<style type="text/css">form{ margin:0; } textarea{ display:block;}</style>
			<link rel="stylesheet" href="/static/admin/assets/libs/kindeditor/themes/default/default.css">
			<if condition="$type eq simple">
				<link rel="stylesheet" href="/static/admin/assets/libs/kindeditor/themes/simple/simple.css">
			</if>
			<script type="text/javascript" src="/static/admin/assets/libs/kindeditor/kindeditor-min.js"></script>
			<script type="text/javascript" src="/static/admin/assets/libs/kindeditor/lang/zh_CN.js"></script>
			<script type="text/javascript">

				(function() {
					var editor;
					var items = {
						simple: ['source', 'preview', 'plainpaste', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'quickformat', '|', 'link'],
						default:
								['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste', 'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript', 'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/', 'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage', 'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak', 'anchor', 'link', 'unlink', '|', 'about']

					};

					var options = {
						allowFileManager: true,
						width: "100%",
						height: 350,
						designMode: true,
						fullscreenMode: false,
						filterMode: true,
						wellFormatMode: true,
						shadowMode: true,
						loadStyleMode: true,
						themeType: 'default',
						langType: 'zh_CN',
						urlType: '',
						newlineTag: 'p',
						resizeType: 2,
						syncType: 'form',
						pasteType: 2,
						dialogAlignType: 'page',
						useContextmenu: true,
						fullscreenShortcut: false,
						bodyClass: 'ke-content',
						indentChar: '\t',
						cssPath: '',
						cssData: '',
						minWidth: 650,
						minHeight: 100,
						minChangeSize: 50,
						zIndex: 811213,
						items: items['default'],
						noDisableItems: ['source', 'fullscreen'],
						colorTable: [['#E53333', '#E56600', '#FF9900', '#64451D', '#DFC5A4', '#FFE500'], ['#009900', '#006600', '#99BB00', '#B8D100', '#60D978', '#00D5FF'], ['#337FE5', '#003399', '#4C33E5', '#9933E5', '#CC33E5', '#EE33EE'], ['#FFFFFF', '#CCCCCC', '#999999', '#666666', '#333333', '#000000']],
						fontSizeTable: ['9px', '10px', '12px', '14px', '16px', '18px', '24px', '32px'],
						htmlTags: {
							font: ['id', 'class', 'color', 'size', 'face', '.background-color'],
							span: ['id', 'class', '.color', '.background-color', '.font-size', '.font-family', '.background', '.font-weight', '.font-style', '.text-decoration', '.vertical-align', '.line-height'],
							div: ['id', 'class', 'align', '.border', '.margin', '.padding', '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.font-weight', '.background', '.font-style', '.text-decoration', '.vertical-align', '.margin-left'],
							table: ['id', 'class', 'border', 'cellspacing', 'cellpadding', 'width', 'height', 'align', 'bordercolor', '.padding', '.margin', '.border', 'bgcolor', '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.font-weight', '.font-style', '.text-decoration', '.background', '.width', '.height', '.border-collapse'],
							'td,th': ['id', 'class', 'align', 'valign', 'width', 'height', 'colspan', 'rowspan', 'bgcolor', '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.font-weight', '.font-style', '.text-decoration', '.vertical-align', '.background', '.border'],
							a: ['id', 'class', 'href', 'target', 'name'],
							embed: ['id', 'class', 'src', 'width', 'height', 'type', 'loop', 'autostart', 'quality', '.width', '.height', 'align', 'allowscriptaccess'],
							img: ['id', 'class', 'src', 'width', 'height', 'border', 'alt', 'title', 'align', '.width', '.height', '.border'],
							'p,ol,ul,li,blockquote,h1,h2,h3,h4,h5,h6': ['id', 'class', 'align', '.text-align', '.color', '.background-color', '.font-size', '.font-family', '.background', '.font-weight', '.font-style', '.text-decoration', '.vertical-align', '.text-indent', '.margin-left'],
							pre: ['id', 'class'],
							hr: ['id', 'class', '.page-break-after'],
							'br,tbody,tr,strong,b,sub,sup,em,i,u,strike,s,del': ['id', 'class'],
							iframe: ['id', 'class', 'src', 'frameborder', 'width', 'height', '.width', '.height']
						},
						layout: '<div class="container"><div class="toolbar"></div><div class="edit"></div><div class="statusbar"></div></div>',
						afterBlur: function() {
							editor.sync();
						}
					};

					KindEditor.ready(function(K) {
						editor = K.create('textarea[name="content"]', options);
					});
				})();

			</script>
<!--			editor 结束 -->
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">序号：</label>
		<div class="layui-input-inline">
			<input name="sort" id="sort" value="{$info.sort|default=125}" lay-verify="required|number" autocomplete="off" placeholder="请输入序号" class="layui-input" type="text">
		</div>
	</div>
<!--	{widget:submit name="submit|立即保存,close|关闭"}-->
<!--	widget 开始 -->
	<div class="layui-form-item text-center model-form-footer">
		<button class="layui-btn" lay-filter="submitForm" lay-submit="">立即保存</button>
		<button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">关闭</button>
	</div>
<!--	widget 结束 -->
</form>
