<form class="layui-form model-form" action="">
	<input name="id" id="id" type="hidden" value="{$info.id|default=0}">
	<input name="pid" id="pid" type="hidden" value="{$info.pid|default=0}">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">城市名称：</label>
			<div class="layui-input-inline">
				<input name="name" value="{$info.name|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入城市名称" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">城市级别：</label>
			<div class="layui-input-inline">
<!--				{common:select param="level|1|城市级别|name|id" data="$levelList" value="isset($info['level']) ? $info['level'] : 1"}-->
<!--				common 开始 -->
				<select name="level" id="level" lay-verify="required" lay-search="" lay-filter="level">
					<option value="">【请选择城市级别】</option>
					{foreach $levelList as $key=>$vo}
					{if isset($info.level) && $info.level == $key}
					<option value="{$key}" selected>{$vo}</option>
					{else /}
					<option value="{$key}">{$vo}</option>
					{/if}
					{/foreach}
				</select>
<!--				common 结束 -->
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">城市编号：</label>
			<div class="layui-input-inline">
				<input name="citycode" value="{$info.citycode|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入城市编号（区号）" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">父级编号：</label>
			<div class="layui-input-inline">
				<input name="p_adcode" value="{$info.p_adcode|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入父级地理编号" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">城市经度：</label>
			<div class="layui-input-inline">
				<input name="lng" value="{$info.lng|default=''}" lay-verify="required|number" autocomplete="off" placeholder="请输入城市坐标中心点经度" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">城市纬度：</label>
			<div class="layui-input-inline">
				<input name="lat" value="{$info.lat|default=''}" lay-verify="required|number" autocomplete="off" placeholder="请输入城市坐标中心点纬度" class="layui-input" type="text">
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">地理编号：</label>
			<div class="layui-input-inline">
				<input name="adcode" value="{$info.adcode|default=''}" lay-verify="required" autocomplete="off" placeholder="请输入地理编号" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">排序号：</label>
			<div class="layui-input-inline">
				<input name="sort" value="{$info.sort|default=125}" lay-verify="required|number" autocomplete="off" placeholder="请输入序号" class="layui-input" type="text">
			</div>
		</div>
	</div>
<!--	{widget:submit name="submit|立即保存,close|关闭"}-->
<!--	widget 开始 -->
	<div class="layui-form-item text-center model-form-footer">
		<button class="layui-btn" lay-filter="submitForm" lay-submit="">立即保存</button>
		<button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">关闭</button>
	</div>
<!--	widget 结束 -->
</form>
